.lightText{
  color: white;
}

.header-block{
  display: flex;
  justify-content: center;
}
.heading{
  margin-bottom: 2rem;
  letter-spacing: 1px !important;
  flex-direction: column;
  background: #EC4D26;
  background: linear-gradient(to right, #EC4D26 0%, #A6CF78 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.tagline{
  display: block;
  text-align: center;
  margin-bottom: 4rem;
  font-size: 1.1rem;
}


.table-container{
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
}

.error{
  color: red;
  opacity: 0.8;
  font-size: 0.8rem;
  margin-left: 10px;
}

.custom-table{
  background: #12181f !important;
  min-height: 100px;
}

.custom-table__header_row{
 color:  #01a29f !important;
 font-size: 0.9rem;
 font-weight: 500;
 letter-spacing: 1.2px;
 border-bottom: 0.5px solid white;
 
}

.custom-table__body_row{
  color: white !important;
 
}
.no-search-result{
  color: white !important;
  display: block;
  text-align: center;
  font-weight: 400;
}
.loader-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  background: rgb(14,3,22, 0.5);
}

.custom-loader {
  width: 50px;
  height: 50px;
  display: grid;
  border-radius: 50%;
  -webkit-mask:radial-gradient(farthest-side,#0000 40%,#000 41%);
  background:
    linear-gradient(0deg ,#fbfbfb80 50%,#fbfbfbFF 0) center/4px 100%,
    linear-gradient(90deg,#fbfbfb40 50%,#fbfbfbBF 0) center/100% 4px;
  background-repeat: no-repeat;
  animation: s3 1s infinite steps(12);
}
.custom-loader::before,
.custom-loader::after {
   content:"";
   grid-area: 1/1;
   border-radius: 50%;
   background:inherit;
   opacity: 0.915;
   transform: rotate(30deg);
}
.custom-loader::after {
   opacity: 0.83;
   transform: rotate(60deg);
}

@keyframes s3 {
  100% {transform: rotate(1turn)}
}